* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 16px;
    height: 50px;
    color: #ffffff;
    border-bottom: 1px solid #3a3a3c;
}

.menu-left{
    display: flex;
}

.menu-right{
    display: flex;
}

.game-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timer-container{
    height: 50px;
}

.tile-container {
    width: 400px;
    margin-bottom: 1px;
}

.tile-container div {
    display: flex;
    justify-content: center;
}

.tile-container .tile {
    width: 50px;
    height: 50px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

button{
    color: whitesmoke;
    background: #121213;
}

.flip {
    animation: 0.5s linear flipping;
}

.dance {
    animation: dance 500ms ease-in-out;
}

.shake {
    animation: shake 250ms ease-in-out;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.red-overlay {
    background-color: #ff1515 !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}

.message-container {
    height: 50px;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.word-container {
    width: 255px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.word-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: rgba(129, 131, 132, 0.55);
    margin: 4px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    background: #ff0000;
}

.modal-body {
    padding: 10px 15px;
    color: #000000;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



